/* Empty. Add your own CSS if you like */

.back-button{
    color: #fff !important;
}
.bar .custom-nav-bar{
    background-color:#00b19d !important;
    border-color: #00b19d;
    color: #fff !important;
    
}

#custom-nav-bar{
    background-color:#00b19d !important;
}
#custom-h1{
    color: #fff !important;
}

#white-icons{
    color:#fff;
}

#delay {
  
  }