<ion-view view-title="Desarrollador">
  <ion-content>
    <div class="list card animated bounceInLeft">  
      <div class="item item-divider">Información del desarrollador</div>
      <div class="item item-body" >
        <div>
          <div class="row">

              <ion-list>
                  <ion-item class="item-thumbnail-left" >
                    <img ng-src="img/ve-flag.png" />
                    <b>Nombre:</b> &nbsp;Abelardo Michele Astudillo Esposito. <br>
                    <b>Edad:</b>&nbsp;26 Años.<br>  
                    <b>Nacionalidad:</b>&nbsp;Venezolano.<br>
                    <b>Contacto:</b>&nbsp;(+58)414-2861751 / (+58)4123082212.<br>
                  </ion-item>
                </ion-list>
         <!-- <div class="col-30"> <img ng-src="img/ve-flag.png" style="width:80%;height:100%;border:transparent;" class="animated infinite rubberBand"></div>
          <div class="col-70"> <b>Nombre:</b> &nbsp;Abelardo Michele Astudillo Esposito. <br>
                               <b>Edad:</b>&nbsp;26 Años.<br>  
                               <b>Nacionalidad:</b>&nbsp;Venezolano.<br>
                               <b>Contacto:</b>&nbsp;(+58)414-2861751 / (+58)4123082212.<br>
                               </div>-->
          
        </div>
        </div>
      </div>
    </div>

    
    <div class="list card animated bounceInRight" style="background-color:#00695C">  
        <div class="item item-divider" style="background-color:#00C853;color:#ffff">Desarrollo en Android</div>
        <div class="item item-body">
          <ion-list>
              <ion-item class="item-thumbnail-left" >
                <img ng-src="img/android.png" />
                  App: ICapture (Captura de horas - hombre & máquinas)
                  <br>
                  Link: <a href="https://drive.google.com/drive/folders/0BxHrHrU58NcSWmRFRVRfTU1xQ28?usp=sharing">Icapture.apk</a>
             
              </ion-item>
            </ion-list>
        </div>
      </div>
  </ion-content>
</ion-view>
